<p style="color: green"><%= notice %></p>
<br/>
<%= render @template %>

<div>
  <%= link_to "Edit this template", edit_template_path(@template) %> |
  <%= link_to "Back to templates", templates_path %>
</div>
